@use '../util' as *;

.about {
    text-align: center;

    .card {
        overflow: hidden;
        flex-direction: column;
    
        &__content {
            max-width: rem(700);
            padding: em(50) em(20);
            
            @include breakpoint(large) {
                padding: 0 em(50);
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
            }
        }
    
        &__title {
            margin: 0;
            font-size: 2.25rem;
    
            @include breakpoint(large) {
                align-self: flex-start;
            }
        }
    
        &__link {
            position: relative;
            font-family: var(--ff-headings);
            text-transform: uppercase;
    
            &.transform::after {
                background-color: var(--soft-red);
            }
    
            &::after {
                content: '';
                position: absolute;
                width: 90%;
                height: 7px;
                border-radius: 3px;
                bottom: -1px;
                left: 5%;
                z-index: -5;
                background-color: var(--yellow);
            }
    
            @include breakpoint(large) {
                align-self: flex-start;
            }
        }
    
        &__img {
            order: -1;
            min-width: rem(375);
            min-height: rem(245);
    
            & img {
                width: 100%;
            }
    
            &-first {
                @include breakpoint(large) {
                    order: 2;
                }
            }
        }
    
        @include breakpoint(large) {
            align-items: stretch;
            flex-direction: row;
    
            & > * {
                flex-basis: 50%;
            }
        }
    }

    @include breakpoint(large) {
        text-align: left;
    }
}